<!-- 
    Chat page
-->

{% extends 'base.jinja' %}

{% block content %} 
<style>
    .left-sidebar {
        position: relative;
        top: 0px;
        left: 0px;
        width: 5.5vw;
        height: 100vh;
        background-color: {{primary_colour}};
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .banner {
        position: absolute;
        top: 0%;
        left: 5.5vw; 
        width: 100vw;
        height: 7vh;
        background-color: {{secondary_colour}}; 
    }
    .logo-text {
        font-size: 1.4vw;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: {{primary_colour}}
        line-height: 7vh;
        padding-top: 1vh;
        padding-left: 2vw;
    }
    .divider-vertical {
        position: absolute;
        top: 2vh;
        left: 11.5vw;
        width: 3px;
        height: 3vh;
        background-color: {{primary_colour}};
        border-radius: 2px;
    }
    .title-text {
        font-size: 1.4vw;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: {{primary_colour}};
        line-height: 7vh;
        padding-left: 1.5vw;
    }
    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        height: 100%; 
        position: absolute; 
        top: 0; 
    }
    .knowledge-repo-icon, .chat-icon, .friends-icon {
        color: #ffffff;
        fill: #ffffff;
        font-size: 24px;
        width: 24px;
        height: 24px;
        align-self: center;
        margin: 2vh 0;  /* the vertical gap between icons */
    }
    .knowledge-repo-icon {
        top: 10vh;
        margin-top: 9vh;
    }
    .chat-icon {
        top: 16vh;
    }
    .friends-icon {
        top: 22.6vh;
        width: 25px;
        height: 26px;
        align-items: center;
    }
    .indicator-bar {
        position: absolute;
        top: 15%; 
        left: -20px; /* how far the indicator bar is from the chat icon */
        width: 5px;
        height: 70%; /* 70% of the height of the chat icon container */
        background-color: #ffffff;
    }
    .chat-icon-container {
        position: relative;
    }

    .left-side-card {
        position: absolute;
        top: 7vh;
        left: 5.5vw;
        width: 20vw;
        height: 93vh;
        border-right: 1px solid #e0e0e0;
    }
    .left-side-card-title {
        margin-bottom: 1vh;
        margin-left: 2vw;
        margin-top: 2vh;
    }
    .left-side-card-title-divider {
        width: 100%;
        border: 0;
        border-top: 1px solid #e0e0e0;
    }
    .secondary-banner { /* below the banner, to the right of the left side card */
        position: absolute;
        top: 7vh; 
        left: 25.5vw; 
        width: 74.5vw;
        height: 10vh; 
        border-bottom: 1px solid #e0e0e0;
    }
    .main-content-container {
        position: absolute;
        top: 17vh;
        left: 25.5vw;
        width: 54.5vw;
        height: 83vh;
    }
    .right-side-card {
        position: absolute;
        top: 17vh;
        left: 80vw; 
        width: 20vw;
        height: 83vh;
        border-left: 1px solid #e0e0e0;
    }
</style>

<div class="banner">
    <span class="logo-text text-center">WisdomExch</span>
    <div class="divider-vertical"></div>
    <span class="title-text">Chat</span>
</div>

<div class="left-sidebar">
    <!-- svg icon, generated by Uizard -->
    <div class="icon-container">
        <a href="{{ url_for('test_page') }}">
            <svg class="knowledge-repo-icon" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path d="M15 3H5c-1.1 0-1.99.9-1.99 2L3 19c0 1.1.89 2 1.99 2
                        H19c1.1 0 2-.9 2-2V9l-6-6zM8 17c-.55 0-1-.45-1-1s.45-1 
                        1-1 1 .45 1 1-.45 1-1 1zm0-4c-.55 0-1-.45-1-1s.45-1 1-1 
                        1 .45 1 1-.45 1-1 1zm0-4c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 
                        1 1-.45 1-1 1zm6 1V4.5l5.5 5.5H14z">
                </path>
            </svg>
        </a>
        <div class="chat-icon-container">
        <div class="indicator-bar"></div>
            <a href="{{ url_for('test_page') }}">
                <svg class="chat-icon" viewBox="0 0 512 512">
                    <path d="M256 32C114.6 32 0 125.1 0 240c0 49.63 21.35 94.98 56.97 130.7
                            c-12.5 50.37-54.27 95.27-54.77 95.77c-2.25 2.25-2.875 5.734-1.5 8.734
                            C1.979 478.2 4.75 480 8 480c66.25 0 115.1-31.76 140.6-51.39
                            C181.2 440.9 217.6 448 256 448c141.4 0 255.1-93.13 255.1-208S397.4 32 256 32z">
                    </path>
                </svg>
            </a>
        </div>
        <a href="{{ url_for('test_page') }}">
            <svg class="friends-icon" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path d="M16.67 13.13C18.04 14.06 19 15.32 19 17v3h4v-3c0-2.18-3.57-3.47-6.33-3.87zM9 4a4 4 0 1 0 0 8 
                        4 4 0 1 0 0-8zM15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4c-.47 0-.91.1-1.33.24a5.98 5.98 0 0 1 0 7.52
                        c.42.14.86.24 1.33.24zm-6 1c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z" fill-rule="evenodd">
                </path>
            </svg>
        </a>
    </div>
</div>

<div class="left-side-card">
    <!-- display friends and group chats -->
    <h6 class="left-side-card-title">Active Chats</h6>
    <hr class="left-side-card-title-divider" />

    <div id="friends-container">
        <button id="refresh-friends">Refresh</button>
        <table id="friends-table">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody id="friends">

            </tbody>
        </table>
    </div>
</div>

<div class="secondary-banner">
    <!-- display the target chat user name and online status -->
</div>

<div class="main-content-container">
    <!-- display the chat messages -->
</div>

<div class="right-side-card">
    <!-- display the create group chat -->
</div>

<script>
    async function refreshFriends() {
        let friendsURL = "{{ url_for('get_friends') }}";
        let res = await axios.post(friendsURL, { username: Cookies.get('username') });

        let container = $("#friends-container");
        container.empty();

        if (res.data.no_friends) {
            let row = $(`<div>You don't have any friend yet</div>`);
            container.append(row);
        } else {
            for (let friend of res.data) {
                let friendElement = $(`<div class="friend">${friend.friend_id}</div>`);
                table.append(row);

                friendElement.click(async function() {
                    let messagesURL = "{{ url_for('get_messages') }}";
                    let messagesRes = await axios.post(messagesURL, { friend_id: friend.friend_id });
                    let mainContent = $(".main-content-container");
                    mainContent.empty();
                    for (let message of messagesRes.data) {
                        let messageElement = $(`<div class="message">${message.content}</div>`);
                        mainContent.append(messageElement);
                    }
                });
                container.append(friendElement);
            }
        }
    }
    $("#refresh-friends").click(refreshFriends);
    $(document).ready(refreshFriends);
</script>
{% endblock %}