<!-- 
    Here you'll find the main exhibit: the chat application code. Feel free to look around!
-->
{% extends 'base.jinja' %}


{% block content %} 
   <style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }

    #message_box {
        border: 1px solid black; 
        height: 400px; 
        width: 800px; 
        overflow: auto;
        padding: 2px;
        float: left;
    }

    #friend-requests-container {
        float: right;
    }
    #friend-requests-table th.border-left {
        border-left: 1px solid black;
    }

    .text  {
        margin-top: 2px;
        margin-bottom: 2px;
    }

</style>

<!--Navbar, you'll see the username here-->
<nav style="border-bottom: 1px solid black;">
    <ol style="float: right">
        <li style="display:inline-block">Username:  {{ username }} </li>
    </ol>
</nav>

<h1>Messaging App </h1>

<main>
    <!-- The messages are displayed here -->
    <section id="message_box"></section>

    <!-- The (message) input box is set to display: none initially, 
    this means the input box is "invisible" initially-->
    <section id="input_box" style="display: none" >
        <p class="text">Message: </p>
        <input id="message" placeholder="message">
        <button onclick="send()">Send</button>
        <button onclick="leave()">Leave Room</button>
    </section>

    <!-- Send friend request section-->
    <section id="send_friend_request_box" style="float: right; margin-left: 20px;">
        <p class="text">Send Friend Request: </p>
        <input id="friend_username" placeholder="friend's username">
        <button onclick="addFriend()">Send Friend Request</button>
    </section>

    <!-- Friend request list section -->
    <div id="friend-requests-container">
        <button id="refresh">Refresh</button>
        <table id="friend-requests-table">
            <thead>
                <tr>
                    <th>Friend Requests Sent</th>
                    <th class="border-left">Friend Requests Received</th>
                    
                </tr>
            </thead>
            <tbody id="friend-requests">

            </tbody>
        </table>
    </div>

    <!-- Friends list section -->
    <div id="friends-container">
        <button id="refresh-friends">Refresh</button>
        <table id="friends-table">
            <thead>
                <tr>
                    <th>Friends List</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="friends">

            </tbody>
        </table>
    </div>

</main>

<script src="/static/js/libs/socket.io.min.js"></script>
<script>

</script>
{% endblock %}
