================== TESTING BUTTON ================== <br>
THE BACKEND HAS A TEST_PAGE HANDLER THAT RETURNS A URL TO REDIRECT TO YOUR DEFINED PAGE <br>
CHANGE THE RETURN VALUE IN APP.PY TO TEST A DIFFERENT PAGE
<button onclick="window.location.href='{{ url_for('test_page') }}'">Go to Test Page</button> <br>
====== REMOVE THIS CHUNK IF NO LONGER NEEDED ==========
