<!-- 
    Friends page, including friend list, group chat list, friend requests, add friends
-->

{% extends 'base.jinja' %}

{% block content %} 
<style>
    .left-sidebar {
        position: relative;
        top: 0px;
        left: 0px;
        width: 5.5vw;
        height: 100vh;
        background-color: {{primary_colour}};
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .banner {
        position: absolute;
        top: 0%;
        left: 5.5vw; 
        width: 100vw;
        height: 7vh;
        background-color: {{secondary_colour}}; 
    }
    .logo-text {
        font-size: 1.4vw;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        color: {{primary_colour}}
        line-height: 7vh;
        padding-top: 1vh;
        padding-left: 2vw;
    }
    .divider-vertical {
        position: absolute;
        top: 2vh;
        left: 11.5vw;
        width: 3px;
        height: 3vh;
        background-color: {{primary_colour}};
        border-radius: 2px;
    }
    .title-text {
        font-size: 1.4vw;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        color: {{primary_colour}};
        line-height: 7vh;
        padding-left: 1.5vw;
    }
    .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; 
        height: 100%; 
        position: absolute; 
        top: 0; 
    }
    .knowledge-repo-icon, .chat-icon, .friends-icon {
        color: #ffffff;
        fill: #ffffff;
        font-size: 24px;
        width: 24px;
        height: 24px;
        align-self: center;
        margin: 2vh 0;  /* the vertical gap between icons */
    }
    .knowledge-repo-icon {
        top: 10vh;
        margin-top: 9vh;
    }
    .chat-icon {
        top: 16vh;
    }
    .friends-icon {
        top: 22.6vh;
        width: 25px;
        height: 26px;
        align-items: center;
    }
    .indicator-bar {
        position: absolute;
        top: 15%; 
        left: -20px; /* how far the indicator bar is from the friends icon */
        width: 5px;
        height: 70%; /* 70% of the height of the friends icon container */
        background-color: #ffffff;
    }
    .friends-icon-container {
        position: relative;
    }

    .main-body-section {
        position: absolute;
        top: 7vh; /* below the banner */
        left: 5.5vw; /* right of the left sidebar */
        width: 94.5vw; /* take up the rest of the width */
        height: 93vh; 
        display: grid;
        grid-template-columns: 1fr 1fr; /* rows and columns divide the main body section into 4 subsections */
        grid-template-rows: 1fr 1fr; 
    }
    .section-title {
        padding: 1em; 
    }
    .horizontal-divider {
        width: 40%; 
        border: 0;
        border-top: 2px solid #f2f2f2; 
        margin-left: 2vw;
    }
</style>

<div class="banner">
    <span class="logo-text text-center">WisdomExch</span>
    <div class="divider-vertical"></div>
    <span class="title-text">Management Console</span>
</div>

<div class="left-sidebar">
    <!-- svg icon, generated by Uizard -->
    <div class="icon-container">
        <a href="{{ url_for('knowledge_repository', username=username, theme_colour=theme_colour) }}">
            <svg class="knowledge-repo-icon" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0V0z" fill="none"></path>
                <path d="M15 3H5c-1.1 0-1.99.9-1.99 2L3 19c0 1.1.89 2 1.99 2
                        H19c1.1 0 2-.9 2-2V9l-6-6zM8 17c-.55 0-1-.45-1-1s.45-1 
                        1-1 1 .45 1 1-.45 1-1 1zm0-4c-.55 0-1-.45-1-1s.45-1 1-1 
                        1 .45 1 1-.45 1-1 1zm0-4c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 
                        1 1-.45 1-1 1zm6 1V4.5l5.5 5.5H14z">
                </path>
            </svg>
        </a>
        <a href="{{ url_for('chat', username=username, theme_colour=theme_colour) }}">
            <svg class="chat-icon" viewBox="0 0 512 512">
                <path d="M256 32C114.6 32 0 125.1 0 240c0 49.63 21.35 94.98 56.97 130.7
                        c-12.5 50.37-54.27 95.27-54.77 95.77c-2.25 2.25-2.875 5.734-1.5 8.734
                        C1.979 478.2 4.75 480 8 480c66.25 0 115.1-31.76 140.6-51.39
                        C181.2 440.9 217.6 448 256 448c141.4 0 255.1-93.13 255.1-208S397.4 32 256 32z">
                </path>
            </svg>
        </a>
            <a href="{{ url_for('friends', username=username, theme_colour=theme_colour) }}">
                <svg class="friends-icon" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path d="M16.67 13.13C18.04 14.06 19 15.32 19 17v3h4v-3c0-2.18-3.57-3.47-6.33-3.87zM9 4a4 4 0 1 0 0 8 
                            4 4 0 1 0 0-8zM15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4c-.47 0-.91.1-1.33.24a5.98 5.98 0 0 1 0 7.52
                            c.42.14.86.24 1.33.24zm-6 1c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z" fill-rule="evenodd">
                    </path>
                </svg>
            </a>
        <div class="friends-icon-container">
            <div class="indicator-bar"></div>
            <svg class="w-10 h-10 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="2" d="M10 19H5a1 1 0 0 1-1-1v-1a3 3 0 0 1 3-3h2m10 1a3 3 0 0 1-3 3m3-3a3 3 0 0 0-3-3m3 3h1m-4 3a3 3 0 0 1-3-3m3 3v1m-3-4a3 3 0 0 1 3-3m-3 3h-1m4-3v-1m-2.121 1.879-.707-.707m5.656 5.656-.707-.707m-4.242 0-.707.707m5.656-5.656-.707.707M12 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>                        
        </div>
    </div>
</div>


<!-- TODO: [style] instead of using header tag for each section title, use normal text with proper size properties, this 
    eliminates the inherent margin of the headers looks better -->

<div class="main-body-section">
    <div>
        <h2 class="section-title">Student Management</h2>
        <hr class="horizontal-divider">
        <div id="friends-container">
            <ul>
                {% for user, permission in user_dict.items() %}
                    <li>
                        {{ user }}
                            {% if permission >= 0 %}
                            <button onclick="muteUser('{{user}}')">Mute</button> 
                            {% else%}
                            <button onclick="unmuteUser('{{user}}')">Unmute</button>
                            {% endif %}
                    </li>
                {% endfor %}
            </ul>
            
            <table id="friends-table">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody id="friends">
    
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div style="display: flex; justify-content: space-between;">
            <h3 class="section-title">Post Management</h3>
        </div>
        <hr class="horizontal-divider">
        <div id="friend-requests-container">
            <ul>
                {% for article, comments in article_dict.items() %}
                <li>
                    <b>{{article.title}}</b></br>{{article.author}}
                    <input id="new_title_" placeholder="new title"/>
                    <input id="new_content_" placeholder="new title"/>
                    <button onclick="modifyArticle({{article.id}})">Edit</button> 
                    <button onclick="deleteArticle({{article.id}})">Delete</button> 
                    <button onclick="">manage comments</button>
                </li>
                {% endfor %}
            </ul>

            <table id="friend-requests-table">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody id="friend-requests">
    
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="/static/js/libs/socket.io.min.js"></script>
<script>
    const socket = io();
    async function deleteArticle(articleId) {
        let username = "{{ username }}";
        let response = await axios.post('/delete_article', { username: username, article_id: articleId });
        if (response.data.success) {
            window.location.reload();
        } else {
            alert(response.data.error);
        }
    }

    async function modifyArticle(articleID) {
        let username = "{{ username }}";
        let new_title = document.getElementById('new_title_').value;
        let new_content = document.getElementById('new_content_').value;
        let response = await axios.post('/modify_article', { articleID: articleID, username: username, new_title: new_title, new_content: new_content});
        if (response.data.success) {
            window.location.reload();
        } 
        else {
            alert(response.data.error);
        }
    }

    async function muteUser(username) {
        let response = await axios.post('/mute_user', { username: username});
        if (response.data.success) {
            window.location.reload();
        } else {
            alert(response.data.error);
        }
    }
    async function unmuteUser(username) {
        let response = await axios.post('/unmute_user', { username: username});
        if (response.data.success) {
            window.location.reload();
        } else {
            alert(response.data.error);
        }
    }

</script>


{% endblock %}
